<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

    <%= hidden_field_tag :organization_id,  params[:org_id] %> 

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
</div>
<div class="field"> 
    <select name="stype_id"> 
        <option value="1">SMS</option> 
        <option value="2">Form</option>
    </select>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
