<!DOCTYPE html>
<html>
<head>
  <title>Nisr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<link rel="shortcut icon" href="/assets/eye.png">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	
      <a class="navbar-brand" href="#"> <%= image_tag "eye.png" %> &nbsp; Nisr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if params[:controller] == "dashboard" then %><li class="active"><a href="#">Dashboard</a></li> <% end %>
	<% if user_signed_in? then %> 
            <li><a href="#"><%= current_user.organization.name %> </a>	</li>
        <% end %> 
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        
        <li><%= link_to 'Create a Survey', controller: 'surveys', action: 'new',  org_id:  current_user.organization.id, html_options: {class: "btn btn-default"} %></a></li>
            </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-md-3">
	<%= yield :sidebar %>
</div>
<div class="col-md-9">
	<% if notice then %> 
 		<p class="alert alert-info"><%= notice %></p>
	<% end %>
	<% if alert then %> 
       		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<%= yield %>
</div>


</body>
</html>
